.status {
    margin: auto;
}
.status, .msg {
    color: #28a745;
    text-align: center;
}
.msg {
    text-align: center;
}
.content {
    padding: 20px;
}
.row {
    margin-right: 0;
}
a {
    text-decoration: none;
}
.right-button {
    float: right;
}
.left-button {
    float: left;
}
.tasks {
    height: 330px;
}
.sorting {
    margin-bottom: 15px;
}
.sorting, .buttons {
    height: 40px;
    margin-top: 15px;
}
.task {
    height: 110px;
}
.text {
    font-size: 12px;
}
.control-button {
    margin-bottom: 3px;
    width: 80px;
}
.task:hover {
    background: #ccf;
}
/*.hovered-buttons {*/
    /*text-align: center;*/
/*}*/
/*.pagerfanta, .task, .sorting {*/
    /*vertical-align: middle;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
/*}*/
.error {
    color: red;
}

.pagerfanta {
    text-align: center;
    margin-top: 15px;
}
.pagerfanta a,
.pagerfanta span {
    display: inline-block;
    border: 1px solid blue;
    color: blue;
    margin-right: .2em;
    padding: .25em .35em;
}
.pagerfanta a {
    text-decoration: none;
}
.pagerfanta a:hover {
    background: #ccf;
}
.pagerfanta .dots {
    border-width: 0;
}
.pagerfanta .current {
    background: #ccf;
    font-weight: bold;
}
.pagerfanta .disabled {
    border-color: #ccf;
    color: #ccf;
}
