<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create task</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="error">
		<?php echo ($error ?? ''); ?>
	</div>
	<form action="/task/create" method="post">
		<div class="row">
			<div class="col">
				<p>
					<label for="userName">User name</label>
					<br/>
					<input id="userName" required maxlength="200" type="text" name="userName">
				</p>
				<p>
					<label for="email">Email</label>
					<br/>
					<input id="email" required maxlength="200" type="email" name="email">
				</p>
				<p>
					<label for="text">Text</label>
					<br/>
					<input id="text" required maxlength="2000" type="text" name="text">
				</p>
				<p>
					<input type="hidden" name="csrf-token" value="<?php echo $token; ?>">
				</p>
				<p>
					<input type="submit">
				</p>
			</div>
		</div>
	</form>
</div>
</body>
</html>
