<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="error">
		<?php echo ($error ?? ''); ?>
	</div>
	<form action="/?route=auth/login" method="post">
		<div class="row">
			<div class="col">
				<p>
					<label for="user">User name</label>
					<br/>
					<input id='user' required type="text" name="user">
				</p>
				<p>
					<label for="password">Password</label>
					<br/>
					<input id="password" required type="text" name="password">
				</p>
				<p>
					<input type="submit">
				</p>
			</div>
		</div>
	</form>
</div>
</body>
</html>
