{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="/css/styles.css" rel="stylesheet" />
{% endblock %}
{% block content %}
	{% include 'error.html.twig' %}
	<form action="/auth/login" method="post">
		<div class="row">
			<div class="col">
				<p>
					<label for="user">User name</label>
					<br/>
					<input id='user' required maxlength="20" type="text" name="user">
				</p>
				<p>
					<label for="password">Password</label>
					<br/>
					<input id="password" required maxlength="20" type="text" name="password">
				</p>
				<p>
					<input type="hidden" name="csrf-token" value="{{ token }}">
				</p>
				<p>
					<input type="submit">
				</p>
			</div>
		</div>
	</form>
{% endblock %}
