{% extends "base.html.twig" %}

{% block title %}Task create{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="/css/styles.css" rel="stylesheet" />
{% endblock %}
{% block content %}
	{% include 'error.html.twig' %}
	<form action="/entity/create" method="post">
		<div class="row">
			<div class="col">
				<p>
					<label for="userName">User name</label>
					<br/>
					<input id="userName" required maxlength="20" type="text" name="user_name">
				</p>
				<p>
					<label for="email">Email</label>
					<br/>
					<input id="email" required maxlength="40" type="email" name="email">
				</p>
				<p>
					<label for="text">Text</label>
					<br/>
					<input id="text" required maxlength="400" type="text" name="text">
				</p>
				<p>
					<input type="hidden" name="csrf-token" value="{{ token }}">
				</p>
				<p>
					<input type="submit">
				</p>
			</div>
		</div>
	</form>
{% endblock %}
