{% extends "base.html.twig" %}

{% block title %}Tasks book{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="/css/styles.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
	<script src="/js/script.js"></script>
{% endblock %}
{% block content %}
	{% if isCreated %}
		<div class="msg">
			Task created!
		</div>
	{% endif %}
	{% include 'buttons.html.twig' %}
	{% include 'sorting.html.twig' %}
	<div class="tasks">
		{% for task in tasks %}
			{% include 'task.html.twig' %}
		{% endfor %}
	</div>
	{% include 'pagination.html.twig' %}
{% endblock %}
